-r requirements.txt
wheel
pytest
coverage
flake8
sphinx
sphinx_rtd_theme
sphinx-autodoc-typehints
myst-parser
git+https://github.com/bashtage/sphinx-material.git
mistune==0.8.4
sphinxcontrib-openapi
sphinx-copybutton
sphinx_autodoc_typehints